@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');

h1,h2,h3 {
    font-family: 'Archivo Black', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0em;
    margin: 0em;

}

footer, header {
    margin:5em 0em;
}

.app {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}