.users {
    display: flex;
    flex-direction: column;
}

.letMeTalkButton {
    margin-top: 2em;
    padding: 1em 2em;
    font-size: 2em;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    border-radius: 4em;
    border: 0;
    background: #d4bfee;
    cursor: pointer;
}

.letMeTalkButton:focus {
    box-shadow: 0 0 0 5px white, 0 0 0 6px #d4bfee;
    outline: none;
}

@media (min-width: 1025px) {
    .users {
        flex-direction: row;
    }

}