.emoji {
    font-size: 7em;
    margin: 0em 0em;
}

.emojiHolder {
    background-color: antiquewhite;
    padding: 4em 0em;
    width: 100%;
    user-select: none;
}

.activeColor {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.inactiveColor {
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.cutInButton {
    font-size: 5em;
    transform: translateY(-0.5em);
    display: block;
    background-color: gainsboro;
    border-radius: 100%;
    width: 1.3em;
    height: 1.3em;
    padding: 0.3em;
    margin: 0 auto;
    user-select: none;
}